@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts from fonts page */

@font-face {
  font-family: "Alternate";
  src: url("../fonts/Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alternate";
  src: url("../fonts/Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Alternate";
  src: url("../fonts/Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Alternate";
  src: url("../fonts/Book.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Alternate";
  src: url("../fonts/SemiBolditalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Alternate";
  src: url("../fonts/Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Adiue";
  src: url("../fonts/Adieu-Regular.ttf");
}

@font-face {
  font-family: "Beatrice Display";
  src: url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.eot");
  src: url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ea44a7fe9341908349e226e3d3a7add3.svg#Beatrice Display")
      format("svg");
}

* {
  font-family: "Alternate", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.adiue {
  font-family: "Adiue", sans-serif;
}

.beatrice {
  font-family: "Beatrice Display";
}

@layer components {
  body {
    @apply bg-yellow-500;
  }

  .navBtn {
    @apply relative block font-extralight shadow-none text-gray-900 z-[5] border-0 rounded-[90px] pr-[35px] pl-[35px] py-[22.5px] px-[22.5px] hover:bg-purple-900 text-xl hover:text-white transition-all duration-300 ease-in-out;
  }

  .box {
    @apply bg-white bg-opacity-50 text-black backdrop-blur-md rounded-lg odd:ml-5 even:mr-5 h-[200px] flex items-center justify-center;
  }
}

.line {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.cross-1 {
  transform: rotate(45deg) translate(2px, 2px);
  transform-origin: center center;
}

.cross-2 {
  transform: rotate(-45deg) translate(3px, -3px);
  transform-origin: center center;
}

.navLink {
  position: relative;
  display: block;
  background: 0 0;
  box-shadow: none;
  border: 0;
  margin: 0;
  font-family: Neue, Arial, Helvetica, sans-serif;
  line-height: 2;
  font-size: clamp(30px, 2.142857142857143vw, 100vw);
  color: #fff;
  padding: 0;
  transition-delay: 0.2s;
  transition: all 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav-social-link {
  display: block;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 32px 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}

.footer-links {
  font-family: "Beatrice Display";
  position: relative;
  display: block;
  line-height: 1.2;
  font-size: clamp(18px, 1.428571428571429vw, 100vw);
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.footer-links:hover {
  background-color: white;
  opacity: 0.4;
  color: black;
}

@layer components {
  .footer-links {
    @apply text-white border border-white border-opacity-40;
  }
}
